.grid {
  margin: auto;
  display: grid;
  grid-template-areas:
    "card card card "
    "card card card";
  grid-gap: 50px;
  padding: 50px;
  align-content: center;
}

.grid-item {
  grid-area: "card";
  margin: auto;
}
