.content-container {
  align-content: center;
  text-align: center;
}

.title {
  margin: auto;
}

.icons-container {
  position: absolute;
  bottom: 6px;
  right: 6px;
}
.icon {
  font-size: 37px;
  padding: 5px;
  color: black;
  position: relative;
  display: inline-block;
}

.tooltiptext {
  font-size: 14px;
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  left: 50%;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
