.up-wave {
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}
.up-wave-reverced {
  width: 100%;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  position: absolute;
  left: 0px;
  top: 0px;
}

.down-wave {
  width: 100%;
  transform: matrix(1, 0, 0, -1, 0, 0);
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.down-wave-reverced {
  width: 100%;
  transform: matrix(-1, 0, 0, -1, 0, 0);
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.down-wave-big {
  width: 100%;
  transform: matrix(-1, 0, 0, -1, 0, 0);
  position: absolute;
  left: 0px;
  bottom: 0px;
}
.up-wave-big {
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}
