.down-wave {
  width: 100%;
  transform: matrix(1, 0, 0, -1, 0, 0);
}
.up-wave {
  width: 100%;
}

.down-wave-big {
  width: 100%;
  transform: matrix(1, 0, 0, -1, 0, 0);
}
.up-wave-big {
  width: 100%;
}
