.Header_root {
  display: flex;

  &:hover {
    background-color: white;
    opacity: 0.85;
    .Header_link {
      a {
        color: black;
      }
    }
  }
}

.Header_title {
  width: 100%;
  color: black;
  padding-left: 30px;
  font-size: 30px;
  margin: 0px;
}

.Header_links {
  margin: auto;
  padding: 0;
  align-content: center;
  white-space: nowrap;
}
.icon_link {
  display: block;
  margin-left: -25px;
}

.Header_link {
  font-size: 22px;
  margin: 0 2.75em;

  font-weight: 900;
  display: inline;
  a {
    text-decoration: none;

    color: white;
  }

  &.active {
    a {
      font-size: 28px;
      color: black;
    }
  }
  @media screen and (max-width: 800px) {
    font-size: 18px;
    margin: 10px;
  }
}
