.Header_root {
  display: flex;

  &:hover {
    background-color: white;
    opacity: 0.85;
  }
}

.Header_title {
  width: 100%;
  color: black;
  padding-left: 30px;
}

.Header_links {
  width: 90%;
  list-style: none;
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.Header_link {
  margin: 0 auto 0;
}
