.Header_root {
  display: flex;

  &:hover {
    background-color: white;
    opacity: 0.85;
    .Header_link {
      a {
        color: black;
      }
    }
  }
}

.Header_title {
  width: 100%;
  color: black;
  padding-left: 30px;
  font-size: 30px;
  margin: 0px;
  align-items: left;
}

.icon_link {
  display: block;
  margin-left: 5px;
  margin-top: 15px;
  margin-bottom: 5px;
  width: 50px;
}
