.footer {
  align-content: center;
  fill-opacity: "0.7";
  background-color: lightblue;
}
.footer-end {
  text-align: center;
  margin: auto;
  font-size: 16px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}
.footer-grid {
  margin: auto;
  display: grid;
  grid-template-areas: "info socials links ";
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 50px;
  padding: 20px 200px 20px;
  align-content: center;
  @media screen and (max-width: 800px) {
    grid-gap: 20px;
    padding: 20px;
    h2 {
      font-size: 15px;
    }
  }
}
.info {
  grid-area: info;
  h3 {
    font-family: "Montserrat", sans-serif;
  }
}
.socials {
  grid-area: socials;
  h3 {
    font-family: "Montserrat", sans-serif;
  }
  @media screen and (max-width: 800px) {
    div {
      width: 20px;
    }
  }
}
.links {
  grid-area: links;
  h3 {
    font-family: "Montserrat", sans-serif;
  }
}
