.section {
  align-items: center;
  height: 1200px;
  width: 100%;
  text-align: center;
}

.section-hedder {
  color: white;
  font-size: 36px;
}

.section-container {
  background-color: rgb(183, 218, 219);
  width: 70%;
  height: 80%;
  margin: auto;
  position: absolute;
  left: 15%;
  top: 10%;
  border-radius: 25px;
  @media screen and (max-width: 800px) {
    width: 90%;
    left: 5%;
  }
}

.about-section-grid {
  display: grid;
  grid-template-areas:
    "heder blank"
    "skils  pic";
  grid-gap: 20px;
  padding: 40px;
  @media screen and (max-width: 800px) {
    grid-template-areas:
      "heder "
      " pic" "skils ";
  }
}
.heder {
  grid-area: heder;
  font-size: 30px;
}
.skils {
  grid-area: skils;
  text-align: left;
  margin-left: 5%;
}
.pic {
  grid-area: pic;
  width: 400px;
  height: 400px;
  margin: auto;
  @media screen and (max-width: 800px) {
    width: 200px;
    height: 200px;
  }
}

.grid {
  margin: auto;
  display: grid;
  grid-template-areas: "card card card ";
  grid-gap: 50px;
  padding: 50px;
  align-content: center;
  @media screen and (max-width: 800px) {
    grid-template-areas: "card card ";
    grid-gap: 20px;
    padding: 20px;
  }
}

.grid-item {
  grid-area: "card";
  margin: auto;
}
.center {
  text-align: center;
  margin: auto;
  width: 40%;
  padding: 10px;
  @media screen and (max-width: 800px) {
    width: 90%;
  }
}
