.section {
  align-items: center;
  min-height: 1000px;
  width: 100%;
  text-align: center;
}

.section-hedder {
  color: white;
  font-size: 36px;
}

.section-container {
  background-color: rgb(183, 218, 219);
  width: 70%;
  height: 80%;
  margin: auto;
  position: absolute;
  left: 15%;
  top: 10%;
  border-radius: 25px;
}
.grid {
  margin: auto;
  display: grid;
  grid-template-areas:
    "card card card "
    "card card card";
  grid-gap: 50px;
  padding: 50px;
  align-content: center;
}

.grid-item {
  grid-area: "card";
  margin: auto;
}
