.section {
  align-items: center;
  min-height: 1000px;
  width: 100%;
  text-align: center;
}

.section-container {
  background-color: rgb(183, 218, 219);
  width: 60%;
  height: 80%;
  margin: auto;
  position: absolute;
  left: 20%;
  top: 10%;
  border-radius: 25px;
}
